# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# Large model files
*.pkl
*.h5
*.joblib

# Dataset
dataset/